{% load static %}
<html>
<head>
    <title>post_list</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
        <hr>
        <div>
            <h2><a href="">{{post.title}}</a></h2>
            <p>投稿日時: {{post.published_date}}</p>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
    {% endfor %}
    <hr>
</body>
</html>